<link rel="stylesheet" href="/css/footer.css">
<footer>

  <div id='footer-div'>
      <h3>©Codial. All Rights Reserved</h3>
      <ul>
            <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile/<%=all_users.id%>">Profile</a>
                </li>
      </ul>

  </div>
    
</footer>