

<h1>Codiel /<%= title %></h1>

<form action="/users/create-session" method="POST">
    <input type ="email" name="email" placeholder="your email" required>
    <input type ="password" name="password" placeholder="password" required>
    <input type ="submit" value="sign_in">
</form>

<p>
    <a href="/users/auth/google">Google Signin/Signup</a>
</p>