<div>
    <p>
        Hi <%=comment.user.name%> !
    </p>
        <br>
    <p>
        Your comment <strong><%=comment.content%></strong> has been published on codial
    </p>

    <br>
    <br>
    <p>Thanks!! </p>
</div>